.header {
  background-color: white;
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  margin: 1rem 0;
  font-family: "ManropeLocal";
}

.date {
  font-weight: 400;
  color: #667085;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.greetingContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.greeting {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
